<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LifeLongHospitalProject29072021</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignServlet</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>controller.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppintmentServlet</display-name>
    <servlet-name>AppintmentServlet</servlet-name>
    <servlet-class>controller.AppintmentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Patient_Record</display-name>
    <servlet-name>Patient_Record</servlet-name>
    <servlet-class>controller.Patient_Record</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_Record</servlet-name>
    <url-pattern>/filling</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_View_Details</display-name>
    <servlet-name>Patient_View_Details</servlet-name>
    <servlet-class>controller.Patient_View_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_View_Details</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorsLoginServlet</display-name>
    <servlet-name>DoctorsLoginServlet</servlet-name>
    <servlet-class>controller.DoctorsLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorsLoginServlet</servlet-name>
    <url-pattern>/doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctors_Retrieval</display-name>
    <servlet-name>Doctors_Retrieval</servlet-name>
    <servlet-class>controller.Doctors_RetrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctors_Retrieval</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetServlet</display-name>
    <servlet-name>ForgetServlet</servlet-name>
    <servlet-class>controller.ForgetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetServlet</servlet-name>
    <url-pattern>/forget</url-pattern>
  </servlet-mapping>
</web-app>